ul {
  background-color: black;
  list-style-type: none;
  height: 50px;
}

li.content{
    padding: 10px;
}

li a.content {
  float: left;
  text-decoration: none;
  color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 50px;
  width: 70px;
  margin-left: 70px;
  margin-top: 0;
}
